<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Produto</label>
            <input type="text" class="form-control" id="inputNome" placeholder="Nome do Produto">
        </div>
        <br>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Valor</label>
            <input type="number" class="form-control" id="inputValor" placeholder="Valor do Produto">
        </div>
        <br>
    </div>

    <a href="/Produto/Index" class="btn btn-link">Voltar</a>
    <button type="submit" class="btn btn-warning">Salvar</button>
</form>